.aboutcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 665px;
}

.boxshadow{
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0px 5px 10px 9px #888888;
    width: 800px;
    height: 350px;
    overflow-y: auto;
}

.aboutbox{
    border: 1px solid;
    bottom: 50px;
}


.content h1{
    font-weight: 90;margin-bottom: 30px;
}

#paragraf{
    font-size: 14px;
}

.aboutbox { 
    padding: 20px 15px;
    
}
